int x_global;
float y_global;

function: void main() {

    int x;
    float y;

    cout << "Enter an int (local): ";
    cin >> x;
    cout << endl << "You entered: " << x << endl;

    cout << "Enter an int (global): ";
    cin >> x_global;
    cout << endl << "You entered: " << x_global << endl;

    cout << "Enter a float (local): ";
    cin >> y;
    cout << endl << "You entered: " << y << endl;

    cout << "Enter a float (global): ";
    cin >> y_global;
    cout << endl << "You entered: " << y_global << endl;
}
