structdef MYSTRUCT{
    int a,b;
    bool c;
    int[10] d;
};
typedef MYSTRUCT* PS;
PS x;
int i;
MYSTRUCT s;

function : int main() {
    i = x->a;
    i = x->c;               // Error - assign bool to int

    i = (*x).b;
    i = (*x).c;             // Error - assign bool to int

    s = *x;                 // Okay - assign *x (PS which is MYSTRUCT *) to s (MYSTRUCT)
    i = x->d[5];            // Okay - assign int to int
    
    return 0;
}
 
