function: int main() {
    int[3] x;
    int[3] y = {1, 2, 3};
    int[5] z = {1, 2, 3};

    cout << "x[0] should be = 0: "<< x[0] << endl;
    cout << "x[1] should be = 0: "<< x[1] << endl;
    cout << "x[2] should be = 0: "<< x[2] << endl;

    cout << "y[0] should be = 1: "<< y[0] << endl;
    cout << "y[1] should be = 2: "<< y[1] << endl;
    cout << "y[2] should be = 3: "<< y[2] << endl;

    cout << "z[0] should be = 1: "<< z[0] << endl;
    cout << "z[1] should be = 2: "<< z[1] << endl;
    cout << "z[2] should be = 3: "<< z[2] << endl;
    cout << "z[3] should be = 0: "<< z[3] << endl;
    cout << "z[4] should be = 0: "<< z[4] << endl;

    return 0;
}
