float[3] x;
float[3] y = {1.0, 2.0, 3.0};
float[5] z = {1.0, 2.0, 3.0};

function: float main() {

    cout << "x[0] should be = 0.0: "<< x[0] << endl;
    cout << "x[1] should be = 0.0: "<< x[1] << endl;
    cout << "x[2] should be = 0.0: "<< x[2] << endl;

    cout << "y[0] should be = 1.0: "<< y[0] << endl;
    cout << "y[1] should be = 2.0: "<< y[1] << endl;
    cout << "y[2] should be = 3.0: "<< y[2] << endl;

    cout << "z[0] should be = 1.0: "<< z[0] << endl;
    cout << "z[1] should be = 2.0: "<< z[1] << endl;
    cout << "z[2] should be = 3.0: "<< z[2] << endl;
    cout << "z[3] should be = 0.0: "<< z[3] << endl;
    cout << "z[4] should be = 0.0: "<< z[4] << endl;

    return 0;
}
