int[3] x_int_g;
int[3] y_int_g = {1, 2, 3};
int[5] z_int_g = {1, 2, 3};

float[3] x_float_g;
float[3] y_float_g = {1.0, 2.0, 3.0};
float[5] z_float_g = {1.0, 2.0, 3.0};

bool[3] x_bool_g;
bool[3] y_bool_g = {true, true, true};
bool[5] z_bool_g = {true, true, true};

function: void main() {

    int[3] x_int_l;
    int[3] y_int_l = {1, 2, 3};
    int[5] z_int_l = {1, 2, 3};

    float[3] x_float_l;
    float[3] y_float_l = {1.0, 2.0, 3.0};
    float[5] z_float_l = {1.0, 2.0, 3.0};

    bool[3] x_bool_l;
    bool[3] y_bool_l = {true, true, true};
    bool[5] z_bool_l = {true, true, true};

    cout << "int global" << endl;
    cout << "x_int_g[0] should be = 0: "<< x_int_g[0] << endl;
    cout << "x_int_g[1] should be = 0: "<< x_int_g[1] << endl;
    cout << "x_int_g[2] should be = 0: "<< x_int_g[2] << endl;
    cout << endl;

    cout << "y_int_g[0] should be = 1: "<< y_int_g[0] << endl;
    cout << "y_int_g[1] should be = 2: "<< y_int_g[1] << endl;
    cout << "y_int_g[2] should be = 3: "<< y_int_g[2] << endl;
    cout << endl;

    cout << "z_int_g[0] should be = 1: "<< z_int_g[0] << endl;
    cout << "z_int_g[1] should be = 2: "<< z_int_g[1] << endl;
    cout << "z_int_g[2] should be = 3: "<< z_int_g[2] << endl;
    cout << "z_int_g[3] should be = 0: "<< z_int_g[3] << endl;
    cout << "z_int_g[4] should be = 0: "<< z_int_g[4] << endl;
    cout << endl;
    cout << endl;

    cout << "float global" << endl;
    cout << "x_float_g[0] should be = 0.0: "<< x_float_g[0] << endl;
    cout << "x_float_g[1] should be = 0.0: "<< x_float_g[1] << endl;
    cout << "x_float_g[2] should be = 0.0: "<< x_float_g[2] << endl;
    cout << endl;

    cout << "y_float_g[0] should be = 1.0: "<< y_float_g[0] << endl;
    cout << "y_float_g[1] should be = 2.0: "<< y_float_g[1] << endl;
    cout << "y_float_g[2] should be = 3.0: "<< y_float_g[2] << endl;
    cout << endl;

    cout << "z_float_g[0] should be = 1.0: "<< z_float_g[0] << endl;
    cout << "z_float_g[1] should be = 2.0: "<< z_float_g[1] << endl;
    cout << "z_float_g[2] should be = 3.0: "<< z_float_g[2] << endl;
    cout << "z_float_g[3] should be = 0.0: "<< z_float_g[3] << endl;
    cout << "z_float_g[4] should be = 0.0: "<< z_float_g[4] << endl;
    cout << endl;
    cout << endl;

    cout << "bool global" << endl;
    cout << "x_bool_g[0] should be = false: "<< x_bool_g[0] << endl;
    cout << "x_bool_g[1] should be = false: "<< x_bool_g[1] << endl;
    cout << "x_bool_g[2] should be = false: "<< x_bool_g[2] << endl;
    cout << endl;

    cout << "y_bool_g[0] should be = true: "<< y_bool_g[0] << endl;
    cout << "y_bool_g[1] should be = true: "<< y_bool_g[1] << endl;
    cout << "y_bool_g[2] should be = true: "<< y_bool_g[2] << endl;
    cout << endl;

    cout << "z_bool_g[0] should be = true: "<< z_bool_g[0] << endl;
    cout << "z_bool_g[1] should be = true: "<< z_bool_g[1] << endl;
    cout << "z_bool_g[2] should be = true: "<< z_bool_g[2] << endl;
    cout << "z_bool_g[3] should be = false: "<< z_bool_g[3] << endl;
    cout << "z_bool_g[4] should be = false: "<< z_bool_g[4] << endl;
    cout << endl;
    cout << endl;

    cout << "int local" << endl;
    cout << "x_int_l[0] should be = 0: "<< x_int_l[0] << endl;
    cout << "x_int_l[1] should be = 0: "<< x_int_l[1] << endl;
    cout << "x_int_l[2] should be = 0: "<< x_int_l[2] << endl;
    cout << endl;

    cout << "y_int_l[0] should be = 1: "<< y_int_l[0] << endl;
    cout << "y_int_l[1] should be = 2: "<< y_int_l[1] << endl;
    cout << "y_int_l[2] should be = 3: "<< y_int_l[2] << endl;
    cout << endl;

    cout << "z_int_l[0] should be = 1: "<< z_int_l[0] << endl;
    cout << "z_int_l[1] should be = 2: "<< z_int_l[1] << endl;
    cout << "z_int_l[2] should be = 3: "<< z_int_l[2] << endl;
    cout << "z_int_l[3] should be = 0: "<< z_int_l[3] << endl;
    cout << "z_int_l[4] should be = 0: "<< z_int_l[4] << endl;
    cout << endl;
    cout << endl;


    cout << "float local" << endl;
    cout << "x_float_l[0] should be = 0.0: "<< x_float_l[0] << endl;
    cout << "x_float_l[1] should be = 0.0: "<< x_float_l[1] << endl;
    cout << "x_float_l[2] should be = 0.0: "<< x_float_l[2] << endl;
    cout << endl;

    cout << "y_float_l[0] should be = 1.0: "<< y_float_l[0] << endl;
    cout << "y_float_l[1] should be = 2.0: "<< y_float_l[1] << endl;
    cout << "y_float_l[2] should be = 3.0: "<< y_float_l[2] << endl;
    cout << endl;

    cout << "z_float_l[0] should be = 1.0: "<< z_float_l[0] << endl;
    cout << "z_float_l[1] should be = 2.0: "<< z_float_l[1] << endl;
    cout << "z_float_l[2] should be = 3.0: "<< z_float_l[2] << endl;
    cout << "z_float_l[3] should be = 0.0: "<< z_float_l[3] << endl;
    cout << "z_float_l[4] should be = 0.0: "<< z_float_l[4] << endl;
    cout << endl;
    cout << endl;

    cout << "bool local" << endl;
    cout << "x_bool_l[0] should be = false: "<< x_bool_l[0] << endl;
    cout << "x_bool_l[1] should be = false: "<< x_bool_l[1] << endl;
    cout << "x_bool_l[2] should be = false: "<< x_bool_l[2] << endl;
    cout << endl;

    cout << "y_bool_l[0] should be = true: "<< y_bool_l[0] << endl;
    cout << "y_bool_l[1] should be = true: "<< y_bool_l[1] << endl;
    cout << "y_bool_l[2] should be = true: "<< y_bool_l[2] << endl;
    cout << endl;

    cout << "z_bool_l[0] should be = true: "<< z_bool_l[0] << endl;
    cout << "z_bool_l[1] should be = true: "<< z_bool_l[1] << endl;
    cout << "z_bool_l[2] should be = true: "<< z_bool_l[2] << endl;
    cout << "z_bool_l[3] should be = false: "<< z_bool_l[3] << endl;
    cout << "z_bool_l[4] should be = false: "<< z_bool_l[4] << endl;
    cout << endl;
}
