function: void main() {


    cout << "Basic Literals" << endl << "----------------" << endl;
    cout << "true && true:   should be true   " << true && true << endl;
    cout << "true && false:  should be false  " << true && false << endl;
    cout << "false && false: should be false  " << false && false << endl;
    cout << endl;

    cout << "true && true:   should be true   " << true || true << endl;
    cout << "true && false:  should be true   " << true || false << endl;
    cout << "false && false: should be false  " << false || false << endl;
    cout << endl;

    cout << "Basic Locals" << endl << "----------------" << endl;
    bool a = true;
    bool b = false;

    cout << "true && true:   should be true   " << a && a << endl;
    cout << "true && false:  should be false  " << a && b << endl;
    cout << "false && false: should be false  " << b && b << endl;
    cout << endl;

    cout << "true && true:   should be true   " << a || a << endl;
    cout << "true && false:  should be true   " << a || b << endl;
    cout << "false && false: should be false  " << b || b << endl;
    cout << endl;

    
    cout << "Short Circuits" << endl << "----------------" << endl;

    cout << "((a = 3 < 2) && (b = 3 > 2)): should be false  " << ((a = 3 < 2) && (b = 3 > 2)) << endl;
    cout << "a: should be false  " << a << endl;
    cout << "b: should be false  " << b << endl;
    cout << endl;

    cout << "((a = 3 > 2) && (b = 3 > 2)): should be true   " << ((a = 3 > 2) && (b = 3 > 2)) << endl;
    cout << "a: should be true  " << a << endl;
    cout << "b: should be true  " << b << endl;
    cout << endl;

    a = false;
    cout << "((a = 3 > 2) || (b = 3 < 2)): should be true  " << ((a = 3 > 2) || (b = 3 < 2)) << endl;
    cout << "a: should be true  " << a << endl;
    cout << "b: should be true  " << b << endl;
    cout << endl;

    cout << "((a = 3 < 2) || (b = 3 < 2)): should be false  " << ((a = 3 < 2) || (b = 3 < 2)) << endl;
    cout << "a: should be false  " << a << endl;
    cout << "b: should be false  " << b << endl;
    cout << endl;
}
