function: void main() {

    cout << "Basic Literals" << endl << "----------------" << endl;
    cout << "true && true:   should be true   " << true  && true << endl;
    cout << "true && false:  should be false  " << true  && false << endl;
    cout << "false && false: should be false  " << false && false << endl;
    cout << endl;

    cout << "true  || true:   should be true   " << true  || true << endl;
    cout << "true  || false:  should be true   " << true  || false << endl;
    cout << "false || false:  should be false  " << false || false << endl;
    cout << endl;

    cout << "Basic Locals" << endl << "----------------" << endl;
    bool a = true;
    bool b = false;

    cout << "true && true:   should be true   " << a && a << endl;
    cout << "true && false:  should be false  " << a && b << endl;
    cout << "false && false: should be false  " << b && b << endl;
    cout << endl;

    cout << "true  || true:  should be true   " << a || a << endl;
    cout << "true  || false: should be true   " << a || b << endl;
    cout << "false || false: should be false  " << b || b << endl;
    cout << endl;
} 
