function: void main() {

    cout << "Enter an int: ";
    int x;
    cin >> x;
    coutn << "You entered: " << x << endl;

    cout << "Enter an float: ";
    float y;
    cin >> y;
    cout << "You entered: " << y << endl;


}
