function: void main() {

    cout << "Literals" << endl << "--------------------------------" << endl;

    cout << "(1.00 == 2.00) false\t"  << (1.00 == 2.00) << endl;
    cout << "(1.00 == 1.00) true\t"   << (1.00 == 1.00) << endl;
    cout << endl;
    cout << "(1.00 != 2.00) true\t"   << (1.00 != 2.00) << endl;
    cout << "(1.00 != 1.00) false\t"  << (1.00 != 1.00) << endl;
    cout << endl;

    cout << "(1.00 >= 2.00) false\t"  << (1.00 >= 2.00) << endl;
    cout << "(1.00 >= 1.00) true\t"   << (1.00 >= 1.00) << endl;
    cout << "(3.00 >= 1.00) true\t"   << (3.00 >= 1.00) << endl;
    cout << endl;

    cout << "(1.00  > 2.00) false\t"  << (1.00 >  2.00) << endl;
    cout << "(1.00  > 1.00) false\t"  << (1.00 >  1.00) << endl;
    cout << "(3.00  > 1.00) true\t"   << (3.00 >  1.00) << endl;
    cout << endl;

    cout << "(1.00 <= 2.00) true\t"  << (1.00 <= 2.00) << endl;
    cout << "(1.00 <= 1.00) true\t"  << (1.00 <= 1.00) << endl;
    cout << "(3.00 <= 1.00) false\t" << (3.00 <= 1.00) << endl;
    cout << endl;

    cout << "(1.00  < 2.00) true\t"   << (1.00 <  2.00) << endl;
    cout << "(1.00  < 1.00) false\t"  << (1.00 <  1.00) << endl;
    cout << "(3.00  < 1.00) false\t"  << (3.00 <  1.00) << endl;
    cout << endl;
}
