function: void main() {

    cout << "Locals" << endl << "--------------------------------" << endl;

    float x = 1.00;
    float y = 2.00;
    float z = 3.00;

    cout << "(1.00 == 2.00) false\t"  << (x == y) << endl;
    cout << "(1.00 == 1.00) true\t"   << (x == x) << endl;
    cout << endl;
    cout << "(1.00 != 2.00) true\t"   << (x != y) << endl;
    cout << "(1.00 != 1.00) false\t"  << (x != x) << endl;
    cout << endl;

    cout << "(1.00 >= 2.00) false\t"  << (x >= y) << endl;
    cout << "(1.00 >= 1.00) true\t"   << (x >= x) << endl;
    cout << "(3.00 >= 1.00) true\t"   << (z >= x) << endl;
    cout << endl;

    cout << "(1.00  > 2.00) false\t"  << (x >  y) << endl;
    cout << "(1.00  > 1.00) false\t"  << (x >  x) << endl;
    cout << "(3.00  > 1.00) true\t"   << (z >  x) << endl;
    cout << endl;

    cout << "(1.00 <= 2.00) true\t"   << (x <= y) << endl;
    cout << "(1.00 <= 1.00) true\t"   << (x <= x) << endl;
    cout << "(3.00 <= 1.00) false\t"  << (z <= x) << endl;
    cout << endl;

    cout << "(1.00  < 2.00) true\t"   << (x <  y) << endl;
    cout << "(1.00  < 1.00) false\t"  << (x <  x) << endl;
    cout << "(3.00  < 1.00) false\t"  << (z <  x) << endl;
    cout << endl;
}
