function: int main() {

    if(true) {
        cout << "In if branch. Should print" << endl;
        if(true) {
            cout << "In nested if1. Should print" << endl;
        }
    }
    else {
        cout << "In else branch. Should not print" << endl;
        if(true) {
            cout << "In nested if1. should not print" << endl;
        }
    }
    cout << "This is after ifelse statement" << endl;
    return 0;
}
