function: int main() {

    if(false) {
        cout << "In if branch. Should not print" << endl;
    }
    else {
        cout << "In else branch. Should print" << endl;
    }
    cout << "This is after ifelse statement" << endl;
    return 0;
}
