bool[3] x;
bool[3] y = {true, true, true};
bool[5] z = {true, true, true};

function: float main() {

    cout << "x[0] should be = false: "<< x[0] << endl;
    cout << "x[1] should be = false: "<< x[1] << endl;
    cout << "x[2] should be = false: "<< x[2] << endl;

    cout << "y[0] should be = true: "<< y[0] << endl;
    cout << "y[1] should be = true: "<< y[1] << endl;
    cout << "y[2] should be = true: "<< y[2] << endl;

    cout << "z[0] should be = true: "<< z[0] << endl;
    cout << "z[1] should be = true: "<< z[1] << endl;
    cout << "z[2] should be = true: "<< z[2] << endl;
    cout << "z[3] should be = false: "<< z[3] << endl;
    cout << "z[4] should be = false: "<< z[4] << endl;

    return 0;
}
