int i3;
float f3;
bool b3;

function: void main() {
    
    int i1;
    int i2;
    float f1;
    float f2;
    bool b1;
    bool b2;

    i1 = 1;
    f1 = 1.0;
    b1 = true;
    cout << "i1: should be: 1     " << i1 << endl;
    cout << "f1: should be: 1.00  " << f1 << endl;
    cout << "b1: should be: true  " << b1 << endl;
    
    i2 = i1;
    i1 = 2;
    f2 = f1;
    f1 = 2.0;
    b2 = b1;
    b1 = false;

    cout << "i1: should be: 2     " << i1 << endl;
    cout << "i2: should be: 1     " << i2 << endl;
    cout << "f1: should be: 2.00  " << f1 << endl;
    cout << "f2: should be: 1.00  " << f2 << endl;
    cout << "b1: should be: false " << b1 << endl;
    cout << "b1: should be: true  " << b2 << endl;

    cout << "Int Promotion" << endl;

    f1 = 1;
    f2 = i1;
    cout << "f1: should be: 1.00  " << f1 << endl;
    cout << "f2: should be: 2.00  " << f2 << endl;
}
