function : void main() {
    int x = 5;
    cout << "x: should be:    5  " << x << endl;
    int y = 1;
    cout << "y: should be:    1  " << y << endl;
    cout << "x + y: should be 6  " << x+y << endl;
}
