function : int main() {
    int x = 5;
    cout << "int x = "<< x << endl;
    int y = 1;
    cout << "int y = "<< y << endl;
    cout << "Local ((x+y)-y)-10 = " << ((x+y)-y)-10 << endl;
    return 0;
}
