function : int main() {
    int x = 5;
    cout << "int x = "<< x << endl;
    int y = 3;
    cout << "int y = "<< y << endl;
    cout << "x * y = " << x*y << endl;
    cout << "x / y = " << x/y << endl;
    return 0;
}
