function: void main() {
    const int x = 0;
    const int y = 1;
    const int a = y, b = 2;
    const int c = 4;

    int w = c;

    cout << "x: " << x << endl;
    cout << "y: " << y << endl;
    cout << "a: " << a << endl;
    cout << "b: " << b << endl;
    cout << "c: " << c << endl;
    cout << "w: " << w << endl;
}
