function: void bar() {
    cout << "3. Inside bar() - returning 1" << endl;
}

function: void foo() {
    cout << "2. Inside foo() - Before bar()" << endl;
    int x = bar();
    cout << "4. Inside foo() - After bar() - returning value from bar: " << x << endl;
}

function: void main() {

    cout << "1. Before foo()" << endl;
    int x = foo();
    cout << "5. After foo() - returned value: " << x << endl;
}
