float x;
float y;
float a, b = 2.0;
float c;

function: void main() {
    y = 1;
    a = b;
    b = 3.0;
    float w = 4.0;
    c = w;
    w = 5.0;

    cout << "x: " << x << endl;
    cout << "y: " << y << endl;
    cout << "a: " << a << endl;
    cout << "b: " << b << endl;
    cout << "c: " << c << endl;
    cout << "w: " << w << endl;
}
