function : int main() {
    cout << "test" << endl;
    if(true) {
        if(true) {
            cout << "nested if works!" << endl;
        }
    }
    cout << "After if statement" << endl;
    return 0;
}
